@charset "UTF-8";
h1 {
  font-size: 60px;
  font-family: 微軟正黑體;
  font-weight: lighter;
}

h2 {
  font-size: 40px;
  font-family: 細明體;
}

h3 {
  font-size: 24px;
  font-family: 細明體;
}

h4 {
  font-size: 16px;
  font-family: 細明體;
}

h5 {
  font-size: 13px;
  font-family: 標楷體;
}

.navbar .container .navbar-brand img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#banner {
  height: 550px;
  background-color: #0c77a9;
  padding: 50px 0px;
}

#banner .container .swiper-container {
  background-color: #71ccf6;
}

#banner .container .swiper-container .swiper-wrapper {
  height: 450px;
}

#banner .container .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) {
  background-image: url("./img/bnr01.jpg");
  background-size: cover;
}

#banner .container .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) {
  background-image: url("./img/bnr02.jpg");
  background-size: cover;
}

#banner .container .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) {
  background-image: url("./img/bnr03.jpg");
  background-size: cover;
}

#activity {
  padding: 30px 0 15px 0;
}

#activity .container .row .activity-pic .swiper-container {
  width: 100%;
  height: 300px;
}

#activity .container .row .activity-pic .swiper-container .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#activity .container .row .activity-pic .swiper-container .swiper-wrapper .pic {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#activity .container .row .activity-pic .swiper-container .swiper-wrapper .pic:nth-child(1) {
  background-image: url("./img/act01.jpg");
}

#activity .container .row .activity-pic .swiper-container .swiper-wrapper .pic:nth-child(2) {
  background-image: url("./img/act02.jpg");
}

#activity .container .row .activity-pic .swiper-container .swiper-wrapper .pic:nth-child(3) {
  background-image: url("./img/act03.jpg");
}

#activity .container .row .activity-text {
  height: 100%;
}

#activity .container .row .activity-text h1 {
  padding: 15px 0;
}

#activity .container .row .activity-text h2 {
  position: relative;
}

#activity .container .row .activity-text h2 span {
  position: absolute;
  left: 35%;
  bottom: 0;
  font-size: 24px;
}

#activity .container .row .activity-text h3 {
  line-height: 40px;
}

#item .container {
  padding: 0;
}

#item .container .row {
  width: 100%;
  margin-bottom: 15px;
}

#item .container .row .item-title {
  text-align: center;
}

#item .container .row .item-pic01 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 315px;
  background-image: url("./img/item01.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

#item .container .row .item-pic02 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 315px;
  background-image: url("./img/item02.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

#item .container .row .item-pic03 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 315px;
  background-image: url("./img/item03.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

#item .container .row .item-btn {
  position: relative;
  margin-bottom: 35px;
}

#item .container .row .item-btn:nth-child(1) button {
  position: absolute;
  right: 15px;
  border: none;
}

#item .container .row .item-btn:nth-child(2) button {
  position: absolute;
  right: 15px;
  border: none;
}

#item .container .row .item-btn:nth-child(3) button {
  position: absolute;
  right: 15px;
  border: none;
}

#doll-shop {
  display: none;
}

#doll-shop.show {
  display: block;
  position: relative;
  background-color: #0c77a9;
}

#doll-shop.show .container {
  padding: 0;
}

#doll-shop.show .container .swiper-slide {
  background-color: #0c77a9;
  padding: 50px 0px 30px 0;
}

#doll-shop.show .container .img {
  position: relative;
  margin: 0px 0px 20px;
}

#doll-shop.show .container .img::after {
  content: attr(data-doll);
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

#doll-shop.show .container .img img {
  width: 100%;
  padding: 0px 0px 30px;
}

#about {
  margin-bottom: 120px;
}

#about .container {
  text-align: center;
}

#about .container .title {
  padding: 60px 0 30px 0;
}

#about .container .row .col-6 .head-text {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
}

#about .container .row .col-6 .head-text .col-12 {
  padding-bottom: 15px;
}

#about .container .row .col-6 .head-text .text {
  width: calc(50% - 15px);
  background-color: #71ccf6;
  padding: 15px;
  border-radius: 50px;
}

#about .container .row .col-6 .head-text .text h3 {
  margin-bottom: 20px;
}

#about .container .row .col-6 .head-text .text:nth-child(2) {
  margin: 0px 15px 0px 0px;
}

#about .container .row .col-6 .head-text .text:nth-child(3) {
  margin: 0px 0px 0px 15px;
}

#game .container .row .text h3 {
  line-height: 40px;
}

#game .container .row .pic {
  padding: 0;
}

#game .container .row .pic .swiper-container {
  width: 100%;
  height: 350px;
}

#game .container .row .pic .swiper-container .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
}

#game .container .row .pic .swiper-container .swiper-wrapper .swiper-slide:nth-child(1) {
  background-image: url("./img/game01.jpg");
}

#game .container .row .pic .swiper-container .swiper-wrapper .swiper-slide:nth-child(2) {
  background-image: url("./img/game02.jpg");
}

#game .container .row .pic .swiper-container .swiper-wrapper .swiper-slide:nth-child(3) {
  background-image: url("./img/game03.jpg");
}

#game .container .row .pic .swiper-container .swiper-wrapper .swiper-slide:nth-child(4) {
  background-image: url("./img/game04.jpg");
  background-position-y: -30px;
}

#introduction .container .row .title {
  padding: 30px 0;
}

#introduction .container .row h1 {
  background-color: #71ccf6;
  border-radius: 30px;
  text-align: center;
}

#introduction .container .row .little-title {
  width: calc(50% - 15px);
  background-color: #71ccf6;
  padding: 120px 0;
  border-radius: 30px;
  margin-bottom: 50px;
}

#introduction .container .row .little-title:nth-child(2) {
  margin: 0 30px 30px 0;
}

#introduction .container .row .little-title:nth-child(3) {
  margin: 0 0 30px 0;
}

#introduction .container .row .description {
  display: none;
}

#introduction .container .row .description.show {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 30px 0;
  background-color: #71ccf6;
  margin: 0 auto 30px auto;
  border-radius: 30px;
  position: relative;
}

#introduction .container .row .description.show h1 {
  margin: 30px 0;
}

#introduction .container .row .description.show h3 {
  padding: 0 60px;
  line-height: 30px;
}

#introduction .container .row .description.show::before {
  content: "";
  position: absolute;
  top: -15%;
  left: 20%;
  width: 60px;
  height: 60px;
  background-color: red;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

#introduction .container .row .toreba {
  display: none;
}

#introduction .container .row .toreba.show {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 30px 0;
  background-color: #71ccf6;
  margin: 0 auto 30px auto;
  border-radius: 30px;
  position: relative;
}

#introduction .container .row .toreba.show h1 {
  margin: 30px 0;
}

#introduction .container .row .toreba.show h3 {
  padding: 0 60px;
  line-height: 30px;
}

#introduction .container .row .toreba.show::before {
  content: "";
  position: absolute;
  top: -20%;
  right: 20%;
  width: 60px;
  height: 60px;
  background-color: red;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

#QA {
  margin-bottom: 15px;
}

#QA .container .title {
  float: left;
}

#QA .container .row .quest {
  height: 60px;
  background-color: #71ccf6;
  position: relative;
}

#QA .container .row .quest .down {
  width: 50px;
  height: 50px;
  background-image: url("./img/btn-down.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 20px;
  top: 0;
}

#QA .container .row .answer {
  display: none;
}

#QA .container .row .answer.show {
  display: block;
  width: 90%;
  height: 50px;
  display: none;
}

#QA .container .row .answer.show.show:nth-child(2) {
  display: block;
  width: 100%;
  height: 550px;
  background-image: url("./img/QA.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

#QA .container .row .answer.show.show:nth-child(4) {
  display: block;
  width: 100%;
  height: 100px;
}

#QA .container .row .answer.show.show:nth-child(6) {
  display: block;
  width: 100%;
  height: 120px;
}

#footer {
  background-color: gray;
}

#footer .container .row .logo {
  width: 100px;
  height: 100px;
  background-image: url("./img/logo.jpg");
  border-radius: 50%;
}

#footer .container .row .app {
  height: 60px;
}

#footer .container .row .app:nth-child(2) {
  background-image: url("./img/ios.png");
}

#footer .container .row .app:nth-child(3) {
  background-image: url("./img/apk.png");
}

#footer .container .row .icon {
  height: 60px;
  background-color: brown;
}
/*# sourceMappingURL=index.css.map */