#banner {
    height: 550px;
    background-color: #0C77A9;
    padding: 50px 0px;

    .container {
        .swiper-container {
            background-color: #71CCF6;

            .swiper-wrapper {
                height: 450px;

                .swiper-slide {
                    &:nth-child(1) {}

                    &:nth-child(2) {
                        background-color: aqua;
                    }

                    &:nth-child(3) {}

                    &:nth-child(4) {

                        background-color: aqua;
                    }

                    &:nth-child(5) {}

                    &:nth-child(6) {

                        background-color: aqua;
                    }


                }

            }
        }
    }
}

#activity {
    padding: 60px 0;

    .container {
        .row {
            .activity-pic {
                height: 30vh;
                background-color: #71CCF6;
            }

            .activity-text {
                height: 30vh;
                background-color: gray;
            }
        }
    }
}

#item {
    .container {
        .row {
            .item-title{
                height: 60px;
                padding: 30px 0;
                background-color: brown;
            }
            .item-pic{
                height: 30px;
                background-color: #0C77A9;
            }
            
        }
    }
}